@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Josefin+Sans:wght@300&display=swap');
:root {
    /*----------------------------- FONTS------------------------------------------ */
    --font-one: 'Barlow', sans-serif;
    --font-two: 'Fraunces', serif;
    /*------ PRIMARY COLORS------- */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    /* (graphic design text) */
    --dark-blue: hsl(198, 62%, 26%);
    /* (photography text) */
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    /* (footer) */
    /* --------------SECUNDARY COLORS-------------- */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}


/* ------------------------------RESETS------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    font-family: var(--font-one);
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

picture,
figure {
    width: auto;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ------------------------UTILITY CLASSES------------------------------------ */

.flex {
    display: flex;
}

.background {
    background: var(--white);
}

.color-white {
    color: var(--white);
}

.title-font {
    font-family: var(--font-two);
}

.text-aling {
    text-align: center;
}


/* //////////////////////HEADER///////////////////////////////////////////// */

header {
    background: url(../images/mobile/webp/image-header.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.nav {
    padding: 2em 0;
    align-items: center;
    justify-content: space-between;
}

.nav>figure {
    width: 8.5em;
}

.desplegable-menu {
    display: none;
}

.header__title {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 10px;
    margin: 0.7em 0 2em 0;
}

.icon-down-container {
    text-align: center;
}

.icon-down-container>img {
    width: auto;
}


/* ----------------------------------------------------------------------------------------------- */

.text-container {
    padding: 3em 0;
}

.font-bold {
    color: var(--very-dark-desaturated-blue);
    font-weight: 900;
    font-size: 1.7rem;
}


/* h2  classes: font-bold,title-font// h2 + img clases: grid-img--title, title-font, font-bold   */

.grid-with-img {
    position: relative;
}

.grid-img-child {
    position: absolute;
    bottom: 3em;
}

.grid-img--title {
    color: var(--dark-desaturated-cyan);
    font-size: 1.5rem;
}

.grid>.paragraph {
    margin: 1.5em 0;
}

.font--size {
    font-size: 1rem;
    text-transform: uppercase;
}

.paragraph {
    color: var(--very-dark-grayish-blue);
    line-height: 1.5;
}

.img-paragraph {
    font-size: 0.95em;
    color: var(--dark-desaturated-cyan);
}

.dark--blue {
    /* utility class */
    color: var(--dark-blue);
}

.container {
    display: inherit;
    max-width: 85%;
    margin: auto;
    align-items: inherit;
    justify-content: inherit;
    text-align: inherit;
}


/* ver porque se elimino el margin de la clase paragraph "grid>paragraph" y eliminar el desborde que esta generando
la etiqueta picture*/